.bg-color{
    background-color: rgb(235, 234, 233);
}

.nav-bg-color{
    background-color: rgb(235, 234, 233);
}

/* .nav-link:hover{
    color: rgb(53, 53, 194);
} */

.bg-image{
    background-image: url('img/north-star-g1b1537636_1920.jpg');
    background-position: 75%;
}