.bg-color{
    background-color: rgb(235, 234, 233);
}

.nav-bg-color{
    background-color: rgb(235, 234, 233);
}

/* .nav-link:hover{
    color: rgb(53, 53, 194);
} */

.bg-image{
    background-image: url('img/north-star-g1b1537636_1920.jpg');
    background-position: 75%;
}

.section-2-bg-1{
    background-image: url('img/couple-gf38c4f7f1_1920.jpg');
    background-position-y: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.section-2-bg-2{
    background-image: url('img/cats-g77153bfb6_1920.jpg');
    background-position-x: 100%;
    background-position-y: 67%;
    background-size: 304%;
    background-repeat: no-repeat;
}

.section-2-bg-3{
    background-image: url('img/low-poly-g72a464a91_1920.jpg');
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.btn{
    border-radius: 0;
}

.btn:hover{
    background-color: rgb(65, 65, 65);
}

.s3{
    background-color: rgb(106, 175, 255);
}

.s3-1{
    background-color: rgb(60, 151, 255);
    

}

.s4{
    height: 400px;
}

.s4-img{
    background-image: url('img/pngwing.com5.png');
    height: 300px;
    background-repeat: no-repeat;
    background-position-y: 5%;
    background-position-x: 46%;
}
